/* ============================================
   Fumadocs MDX Styles
   ============================================ */

@import "@fumadocs/base-ui/css/neutral.css";
@import "@fumadocs/base-ui/css/preset.css";
