/* ============================================
   Raypx UI - Global Styles
   ============================================ */

@import "tailwindcss";
@import "./theme.css";
@import "./base.css";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@source "../../../../{packages,apps}/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));
